/*-------------------------LOGIN PAGE---------------------------*/
body {
  overflow-y: hidden;
}
.content {
  background-image: url(../images/login-bg.jpg);
  height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  color: white;
  font-family: Helvetica;
  font-size: 20px;
  margin-left: 300px;
  padding-bottom: 50px;
}
.content img {
  margin-left: 350px;
  padding-top: 100px;
}
input {
  height: 25px;
  width: 300px;
  background-color: aliceblue;
  border-radius: 50px;

  margin-top: 30px;
  text-indent: 10px;
}
button {
  color: white;
  background-color: rgb(175, 115, 4);
  border-radius: 50px;
  margin-left: 375px;
  margin-top: 30px;
}
label {
  color: white;
  margin-left: 200px;
}
/*-------------------------END OF LOGIN PAGE--------------------------*/
