include header

- var current = 0;
- var n = 0;

// EVENTS CATALOG

.container-fluid
  h1.mt-4 NBA DB
  .card-header
    i.fas.fa-table.mr-1
    | NBA Events Catalog
  .card-body
    .container-lg
 
  .table-responsive
    .table-wrapper
      .table-title
        .row
          .col-sm-8
            h2
              | Event Details
          .col-sm-4
            button.btn.btn-custom.text-white.add-new(type='button' data-toggle="modal" data-target="#add-event-modal")#add-event-button
              |  Add New Event
      table.table.table-bordered#player-table.text-nowrap
        thead
          tr
            th(style="width: 20%") Home Team
            th(style="width: 10%") Home Score
            th(style="width: 20%") Away Team
            th(style="width: 10%") Away Score
            th(style="width: 10%") Date Event
            th(style="width: 10%") Video URL
            th(style="width: 10%") Actions
        tbody
        for event in eventList
          tr
            form(action="/admin/api/editEvent", method="POST")
              input(type="text", name="eventId", value=event.eventId class="form-control" readOnly hidden)
              td
                input(type="text", name="intHeight", value=event.strHomeTeam class="form-control" readOnly)
              td 
                input(type="number", name="intHomeScore", value=event.intHomeScore min="0" max="300" class="form-control" required)
              td 
                input(type="text", name="intWeight", value=event.strAwayTeam class="form-control" readOnly)
              td 
                input(type="number", name="intAwayScore", value=event.intAwayScore min="0" max="300" class="form-control" required)
              td 
                input(type="date", name="dateEvent", value=event.dateEvent class="form-control" required)
              td
                input(type="text", name="strVideo", value=event.strVideo class="form-control" )
              td
                a.edit(title='Edit', data-toggle='tooltip')
                  button.btn.btn-custom(type="submit", name="submitType", value="EDIT" class="btn") 
                    span.btn-label.text-white
                      i.material-icons &#xE254;
                    p.text-white.d-inline-block.mb-0 EDIT
                a.delete(title='Delete', data-toggle='tooltip')
                  button(type="submit", name="submitType", value="DELETE"  class="btn btn-danger") 
                    span.btn-label.text-white
                      i.material-icons &#xE872;
                    p.text-white.d-inline-block.mb-0 DELETE
        div.d-flex.justify-content-center
          p.px-4 Showing 
            select.px-1(name="eventPages" onchange="location=this.value;")
              - for(var i = 1; i <= meta.totalPages ; i++)
                  - if (meta.currentPage == i - 1)
                    option(value=`/admin/events?page=${i - 1}` selected) #{i}
                  - else
                    option(value=`/admin/events?page=${i - 1}`) #{i}
            p of #{meta.totalPages} entries
      .col-sm-4
        a.btn.btn-custom.mb-9.text-white(href='/admin', role='button', aria-pressed='true' id="backBtn") << Back
footer.py-4.bg-light.mt-auto
  .container-fluid
    .d-flex.align-items-center.justify-content-center
      img(src='../images/team-logo.png', alt='nba icon', width='80', height='40')
      .text-muted.px-4 Copyright &copy; BAVAB Website 2020

//- ADD MODAL
div(id="add-event-modal" class="modal fade" role="dialog" )
  div(class="modal-dialog" role="document")
    //- MODAL CONTENT
    div(class="modal-content")
      div(class="modal-header bg-custom text-light border border-custom")
        h2 ADD EVENT
        button(type="button" class="close" data-dismiss="modal") &times
      div(class="modal-body") 
        form(action="/admin/api/addEvent", method="POST" class="container border mb-2" id="add-event-form")
          //- br
          //- input(type="text", name="season", value="" required)
          .row
            .col-sm-7
              label(for="add-home-event") Home Team
              br
              select(name="teamId" id="add-home-event" class="form-control" default="0" required)
              //- each team in teamNameList
                option(value=team.teamId)
                | #{team.strTeam}
            .col-sm-4.ml-auto
              label(for="add-home-score") Home Score
              input(type="number", name="intHomeScore", class="form-control" min="0" max="200" id="add-home-score" required)
              
              //- each team in teamNameList
                option(value=team.teamId)
                  | #{team.strTeam}
              br
          .row
            .col-sm-7
              label(for="add-away-event d-inline-block") Away Team
              br
              select(name="teamId" id="add-away-event" class="form-control" default="1" required)
            .col-sm-4.ml-auto
              label(for="add-away-score") Away Score
              input(type="number", name="intAwayScore", class="form-control" min="0" max="200" id="add-away-score" required)
          br
          label(for="add-date-event") Date Event
          input(type="date", name="dateEvent", class="form-control" id="add-date-event" required)
          br
          label(for="add-video-event") Video URL
          input(type="text", name="strVideo", class="form-control" id="add-video-event")
          input(type="submit" value="ADD EVENT", class="form-control mt-4 bg-custom text-light")
      div(class="modal-footer")
      button(type="button" class="btn btn-default" data-dismiss="modal")

script.
  var form = document.getElementById("add-event-form")
  var selects = form.querySelectorAll('select[name=teamId]')
  console.log(form)
  console.log(selects)

  var teamList = JSON.parse('!{JSON.stringify(teamNameList)}')
  console.log(teamList)

  
  console.log(teamList.length - 1)

  //DYNAMIC Rendering of home team and away team
  var selectHome = document.getElementById("add-home-event")
  var optionHome = ""
  for(let i = 0; i < teamList.length ; i++) {
    optionHome += `<option value=${teamList[i].teamId}>${teamList[i].strTeam}</option>`
  }
  selectHome.innerHTML = optionHome
  
  var selectAway = document.getElementById("add-away-event")
  var optionAway = ""
  for(let i = 0; i < teamList.length ; i++) {
    optionAway += `<option value=${teamList[i].teamId}>${teamList[i].strTeam}</option>`
  }
  selectAway.innerHTML = optionAway


  form.addEventListener("submit",(event)=>{
    console.log("YOU HAVE CLICKED SUBMIT")
    //- console.log(event)
    //- console.log(selects)
  })

  //- var players = #{playerList}
  //- var playerList = "#{playerList}"
  //- var teamList = JSON.parse('!{JSON.stringify(teamNameList)}')
  //- var modalDiv = document.getElementById("add-player-modal")

//STYLE
style.
  body {
  color: #404E67;
  background: #F5F7FA;
  font-family: 'Open Sans', sans-serif;
  }
  .btn{
  border-radius: 5px;
  font-size: 12px;
  padding: 3px;
  display: inline-block;
  }
  h2{
  font-size: 20px;
  font-weight: bold;
  }
  #backBtn{
  width: 100px;
  font-size: 15px;
  position: fixed; 
  bottom: 20px; 
  left: 20px;
  }
  .navbar-custom { 
  background: rgb(44, 53, 165);
  }
  .btn-custom { 
  background: rgb(44, 53, 165);
  }
  .bg-custom { 
  background: rgb(44, 53, 165);
  }
  .table-wrapper {
  background: #fff;
  padding: 30px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  }
  .table-title {
  padding-bottom: 10px;
  margin: 0 0 10px;
  }
  .table-title h2 {
  margin: 6px 0 0;
  font-size: 22px;
  }
  .table-title .add-new {
  float: right;
  height: 30px;
  font-weight: bold;
  font-size: 12px;
  text-shadow: none;
  min-width: 100px;
  border-radius: 50px;
  line-height: 13px;
  }
  table.table {
  width: auto;
  table-layout: fixed;
  }
  table.table tr th, table.table tr td {
  border-color: #e9e9e9;
  }
  table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
  }
  table.table th:last-child {
  width: 100px;
  }
  table.table td a {
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  min-width: 24px;
  }
  table.table td a.add {
  color: #27C46B;
  }
  table.table td a.edit {
  color: #FFC107;
  }
  table.table td a.delete {
  color: #E34724;
  }
  table.table td i {
  font-size: 19px;
  }
  table.table td a.add i {
  font-size: 24px;
  margin-right: -1px;
  position: relative;
  top: 3px;
  }
  table.table .form-control {
  height: 30px;
  width: auto;
  line-height: 32px;
  box-shadow: none;
  border-radius: 2px;
  }
  table.table .form-control.error {
  border-color: #f50000;
  }
  table.table td .add {
  display: none;
  }
  span .btn-label{
  font-size: 10px;
  }
  .modal-body label{
  font-size: 17px;
  }
  #add-home-event{
  font-size: 15px;
  }
  .modal-body{
  width: 420px;
  }
  .modal-content{
  width: 420px;
  }
  
 
  