doctype html
include header

// PLAYERS CATALOG
.container-fluid
  h1.mt-4 NBA DB
  .card-header
    i.fas.fa-table.mr-1
    | NBA Players Catalog
  .card-body
    .container-lg
  .table-responsive
    .table-wrapper
      .table-title
        .row
          .col-sm-8
            h2
              | Player Details
          .col-sm-4
            button.btn.btn-custom.text-white.add-new(type='button' data-toggle="modal" data-target="#add-player-modal")#add-player-button
              i.fa.fa-plus
              |  Add New Player
      table.table.table-bordered#player-table.text-nowrap
        thead
          tr
            th Name
            th Height (cm.)
            th Weight (kg.)
            th Team
            th Actions
        tbody
        for player in playerList
          tr
            //- EDIT / DELETE
            form(action="/admin/api/editPlayer", method="POST" )
              input(type="text", name="playerId", value=player.playerId readOnly class="form-control" required hidden)
              td 
                input(type="text", name="strPlayerName", value=player.playerName class="form-control" required)
              td
                input(type="number", name="intHeight", min="0" max="999" value=player.playerHeight class="form-control" required)
              td 
                input(type="number", name="intWeight", min="0" max="999" value=player.playerWeight class="form-control" required)
              td 
                input(type="text", name="playerTeam", value=player.playerTeam readOnly class="form-control" required)
              td
                a.edit(title='Edit', data-toggle='tooltip')
                  button.btn.btn-custom(type="submit", name="submitType", value="EDIT" class="btn") 
                    span.btn-label.text-white
                      i.material-icons &#xE254;
                    p.text-white.d-inline-block.mb-0 EDIT
                a.delete(title='Delete', data-toggle='tooltip')
                  button(type="submit", name="submitType", value="DELETE"  class="btn btn-danger") 
                    span.btn-label.text-white
                      i.material-icons &#xE872;
                    p.text-white.d-inline-block.mb-0 DELETE
        - if(!meta.search)
          div.d-flex.justify-content-center
            p.px-4 Showing 
              select.px-1(name="playerPages" onchange="location=this.value;")
                - for(var i = 1; i <= meta.totalPages ; i++)
                  - if (meta.currentPage == i - 1)
                    option(value=`/admin/players?page=${i-1}` selected) #{i}
                  - else
                    option(value=`/admin/players?page=${i-1}`) #{i}
              p of #{meta.totalPages} entries
        div.d-flex.justify-content-center.my-4
          label(class="mx-3") Search: 
          input(value=`${meta.search}` name="search" id="search-value")
          button(onclick="searchPlayers()" class="mx-2") Search
          button(onclick="resetPlayers()" class="mx-2") Reset
    .col-sm-4
      a.btn.btn-custom.mb-9.text-white(href='/admin', role='button', aria-pressed='true' id="backBtn") << Back
//- FOOTER
footer.py-4.bg-light.mt-auto
  .container-fluid
    .d-flex.align-items-center.justify-content-center
      img(src='../images/team-logo.png', alt='nba icon', width='80', height='40')
      .text-muted.px-4 Copyright &copy; BAVAB Website 2020
//- ADD MODAL
div(id="add-player-modal" class="modal fade" role="dialog" )
  div(class="modal-dialog bg-light" role="document")
    //- MODAL CONTENT
    div(class="modal-content")
      div(class="modal-header bg-custom text-light border border-custom")
        h2 ADD PLAYER
        button(type="button" class="close" data-dismiss="modal") &times
      div(class="modal-body") 
        form(action="/admin/api/addPlayer", method="POST" class="container border mb-4")
          br
          label(for="add-player-name") Player Name
          input(type="text", name="strPlayerName", value="" class="form-control" id="add-player-name" required)
          br
          .row
            .col-sm-6
              label(for="add-player-height") Player Height (cm.)
              input(type="number", name="intHeight", value="" min="0" max="999"  class="form-control" id="add-player-height" required)
              br
            .col-sm-6
              label(for="add-player-weight") Player Weight (kg.)
              input(type="number", name="intWeight", value="" min="0" max="999" class="form-control" id="add-player-weight" required)
              br
          label(for="add-player-team") Player Team
          select(name="teamId" class="form-control" id="add-player-team" required)
            each team in teamNameList
              option(value=team.teamId)
                | #{team.strTeam}
          br
          br
          input(type="submit" name="submitType", value="ADD PLAYER" class="form-control bg-custom text-light")
      div(class="modal-footer")
      button(type="button" class="btn btn-default" data-dismiss="modal")

script.
  //- var players = #{playerList}
  var playerList = "#{playerList}"
  var teamList = JSON.parse('!{JSON.stringify(teamNameList)}')
  var modalDiv = document.getElementById("add-player-modal")

  const searchPlayers = () => {
      console.log(document.getElementById("search-value").value)
      console.log(document.getElementById("search-value"))
      const searchInput = document.getElementById("search-value").value
      location = `/admin/players?search=${searchInput}`
  }

  const resetPlayers = () => {
    location = "/admin/players"
  }

//STYLE
style.
  body {
  color: #404E67;
  background: #F5F7FA;
  font-family: 'Open Sans', sans-serif;
  }
  .bg-custom { 
  background: rgb(44, 53, 165);
  }
  .btn{
  border-radius: 5px;
  font-size: 12px;
  padding: 3px;
  display: inline-block;
  }
  #backBtn{
  width: 100px;
  font-size: 15px;
  position: fixed; 
  bottom: 20px; 
  left: 20px;
  }
  .navbar-custom { 
  background: rgb(44, 53, 165);
  }
  .btn-custom { 
  background: rgb(44, 53, 165);
  }
  .table-wrapper {
  background: #fff;
  padding: 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  }
  .table-title {
  padding-bottom: 10px;
  margin: 0 0 10px;
  }
  .table-title h2 {
  margin: 6px 0 0;
  font-size: 22px;
  }
  .table-title .add-new {
  float: right;
  height: 30px;
  font-weight: bold;
  font-size: 12px;
  text-shadow: none;
  min-width: 100px;
  border-radius: 50px;
  line-height: 13px;
  }
  .table-title .add-new i {
  margin-right: 4px;
  }
  table.table {
  table-layout: fixed;
  }
  table.table tr th, table.table tr td {
  border-color: #e9e9e9;
  width: 180px;
  }
  table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
  }
  table.table th:last-child {
  width: 100px;
  }
  table.table td a {
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  min-width: 24px;
  }
  table.table td a.add {
  color: #27C46B;
  }
  table.table td a.edit {
  color: #FFC107;
  }
  table.table td a.delete {
  color: #E34724;
  }
  table.table td i {
  font-size: 19px;
  }
  table.table td a.add i {
  font-size: 24px;
  margin-right: -1px;
  position: relative;
  top: 3px;
  }
  table.table .form-control {
  height: 32px;
  line-height: 32px;
  box-shadow: none;
  border-radius: 2px;
  width: 250px;
  }
  table.table .form-control.error {
  border-color: #f50000;
  }
  table.table td .add {
  display: none;
  }
  h2{
  font-size: 20px;
  font-weight: bold;
  }
  .modal-body label{
  font-size: 17px;
  }


