doctype html
include header

// PLAYERS CATALOG
.container-fluid
  h1.mt-4 NBA DB
  .card-header
    i.fas.fa-table.mr-1
    | NBA Teams Catalog
  .card-body
    .container-lg
  .table-responsive
    .table-wrapper
      .table-title
        .row
          .col-sm-8
            h2
              | Team Details
          .col-sm-4
            button.btn.btn-custom.text-white.add-new(type='button' data-toggle="modal" data-target="#add-team-modal")#add-team-button
              i.fa.fa-plus
              |  Add New Team
      table.table.table-bordered#team-table.text-nowrap.table-bordered(width='100%', cellspacing='0')
        thead
          tr
            th(style="width: 15%") Team Name
            th(style="width: 10%") Team Short
            th(style="width: 10%") Formed Year
            th(style="width: 35%") Team Description
            th(style="width: 20%") Team Badge
            th(style="width: 10%") Actions
        tbody
        for team in teamList
          tr
            form(action="/admin/api/editTeam", method="POST" onSubmit="if(!confirm('All CHANGES/DELETION on team will affect OTHER TABLES. Are you sure you want to DELETE/EDIT?')){return false;}")
              input(type="text", name="teamId", value=team.teamId readOnly class="form-control" hidden)
              td
                input(type="text", name="strTeam", value=team.strTeam minlength="1" maxlength="25" class="form-control" required)
              td
                input(type="text", name="strTeamShort", value=team.strTeamShort minlength="2" maxlength="5"  class="form-control" required)
              td
                input(type="number", name="intFormedYear", value=team.intFormedYear,  min="1900", max="3000", class="form-control" required)
              td
                textarea(type="text", name="strDescriptionEN", row="4" class="form-control" style="height:200px" required)
                  | #{team.strDescriptionEN}
              td
                label Image:
                br
                img(src=team.strTeamBadge width="100" height="100")
                br
                label Reference:
                br
                input(type="text", name="strTeamBadge", value=team.strTeamBadge class="form-control" required)
              td
                a.edit(title='Edit', data-toggle='tooltip')
                  button.btn.btn-custom(type="submit", name="submitType", value="EDIT" class="btn") 
                    span.btn-label.text-white
                      i.material-icons &#xE254;
                    p.text-white.d-inline-block.mb-0 EDIT
                a.delete(title='Delete', data-toggle='tooltip')
                  button(type="submit", name="submitType", value="DELETE"  class="btn btn-danger") 
                    span.btn-label.text-white
                      i.material-icons &#xE872;
                    p.text-white.d-inline-block.mb-0 DELETE
        #dataTable_info.dataTables_info(role='status', aria-live='polite') Showing #{meta.totalCount} entries
    .col-sm-4
      a.btn.btn-custom.mb-9.text-white(href='/admin', role='button', aria-pressed='true' id="backBtn") << Back
//- FOOTER
footer.py-4.bg-light.mt-auto
  .container-fluid
    .d-flex.align-items-center.justify-content-center
      img(src='../images/team-logo.png', alt='nba icon', width='80', height='40')
      .text-muted.px-4 Copyright &copy; BAVAB Website 2020
//- ADD MODAL
div(id="add-team-modal" class="modal fade" role="dialog" )
  div(class="modal-dialog" role="document")
    //- MODAL CONTENT
    div(class="modal-content")
      div(class="modal-header bg-custom text-light border border-custom")
        h2 ADD TEAM
        button(type="button" class="close" data-dismiss="modal") &times
      div(class="modal-body") 
        form(action=`/admin/api/addTeam` method="POST" enctype="multipart/form-data" class="container border mb-4" )
          label Team Name
          input(type="text", name="strTeam", value="" class="form-control" minlength="1" maxlength="25" required)
          br
          .row
            .col-sm-3
              label Team Short
              input(type="text", name="strTeamShort", value=""  minlength="2" maxlength="5"  class="form-control" required)
              br
            .col-sm-3
              label Formed Year
              input(type="number", name="intFormedYear", value="" class="form-control" min="1900" max="3000" required)
              br
            .col-sm-4
              label Team Badge
              input(type="file" name="image" accept="image/*"  required)
          label Team Description
          textarea(type="text", name="strDescriptionEN", rows="12", cols="60"  class="form-control" required)
          
          input(type="submit" name="imageSubmit" value="ADD TEAM"  class="form-control mt-4 bg-custom text-light")
      div(class="modal-footer")
      button(type="button" class="btn btn-default" data-dismiss="modal")


//STYLE
style.
  body {
  color: #404E67;
  background: #F5F7FA;
  font-family: 'Open Sans', sans-serif;
  }
  .btn{
  border-radius: 5px;
  font-size: 12px;
  padding: 3px;
  display: inline-block;
  }
  #backBtn{
  width: 100px;
  font-size: 15px;
  position: fixed; 
  bottom: 20px; 
  left: 20px;
  }
  .bg-custom { 
  background: rgb(44, 53, 165);
  }
  .navbar-custom { 
  background: rgb(44, 53, 165);
  }
  .btn-custom { 
  background: rgb(44, 53, 165);
  }
  .table-wrapper {
  background: #fff;
  padding: 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  }
  .table-title {
  padding-bottom: 10px;
  margin: 0 0 10px;
  }
  .table-title h2 {
  margin: 6px 0 0;
  font-size: 22px;
  }
  .table-title .add-new {
  float: right;
  height: 30px;
  font-weight: bold;
  font-size: 12px;
  text-shadow: none;
  min-width: 100px;
  border-radius: 50px;
  line-height: 13px;
  }
  .table-title .add-new i {
  margin-right: 4px;
  }
  table.table {
  table-layout: fixed;
  width: auto;
  }
  table.table tr th, table.table tr td {
  border-color: #e9e9e9;
  }
  table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
  }
  table.table th:last-child {
  width: 100px;
  }
  table.table td a {
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  min-width: 24px;
  }
  table.table td a.add {
  color: #27C46B;
  }
  table.table td a.edit {
  color: #FFC107;
  }
  table.table td a.delete {
  color: #E34724;
  }
  table.table td i {
  font-size: 19px;
  }
  table.table td a.add i {
  font-size: 24px;
  margin-right: -1px;
  position: relative;
  top: 3px;
  }
  table.table .form-control {
  height: 32px;
  line-height: 32px;
  box-shadow: none;
  border-radius: 2px;
  }
  table.table .form-control.error {
  border-color: #f50000;
  }
  table.table td .add {
  display: none;
  }
  h2{
  font-size: 20px;
  font-weight: bold;
  }
  .modal-body label{
  font-size: 17px;
  }
  .modal-body{
  width: 600px;
  }
  .modal-content{
  width: 600px;
  }
  textarea{
  width: 600px;
  overflow-y:auto;
  }
  


