doctype html
// ADMIN DASHBOARD by Frellia Mae Barra
include header
// ADMIN DASHBOARD CONTENT
.container-fluid.flex-column.justify-content-center
  h1.mt-4 NBA DB
  ol.breadcrumb.mb-4
    //- li.breadcrumb-item.active NBA DB Dashboard (NOTE: Only available right now: LatestEvents and Players Catalog.---------------------------UNDER CONSTRUCTION------------------------- 
  .row
    .col-xl-4.col-md-8
      .card.bg-custom.text-white.mb-4
        .card-body
        .card-body About NBA
        .card-footer.bg-dark.d-flex.align-items-center.justify-content-between
          a.small.text-white.stretched-link(href='/admin/description') View Details
          .small.text-white
            i.fas.fa-angle-right
    .col-xl-4.col-md-8
      .card.bg-custom-events.text-white.mb-4
        .card-body
        .card-body Events
        .card-footer.bg-dark.d-flex.align-items-center.justify-content-between
          a.small.text-white.stretched-link(href='/admin/events') View Details
          .small.text-white
            i.fas.fa-angle-right
    .col-xl-4.col-md-8
      .card.bg-custom-teams.text-white.mb-4
        .card-body
        .card-body Teams
        .card-footer.bg-dark.d-flex.align-items-center.justify-content-between
          a.small.text-white.stretched-link(href='/admin/teams') View Details
          .small.text-white
            i.fas.fa-angle-right
    .col-xl-4.col-md-8
      .card.bg-custom-players.text-white.mb-4
        .card-body
        .card-body Players
        .card-footer.bg-dark.d-flex.align-items-center.justify-content-between
          a.small.text-white.stretched-link(href='/admin/players') View Details
          .small.text-white
            i.fas.fa-angle-right

//STYLE
style.
  .navbar-custom { 
  background: rgb(44, 53, 165);
  }
  .bg-custom{
  background:url('../../images/nba-catalog.png');
  }
  .bg-custom-events{
  background:url('../../images/events-catalog.png');
  }
  .bg-custom-teams{
  background:url('../../images/teams-catalog.png');
  }
  .bg-custom-players{
  background:url('../../images/players-catalog.png');
  }
  footer{
  background:gray;
  }
  .bg-log{
    background:url('../../images/latest-events-catalog.png')
  }
  


// END OF ADMIN DASHBOARD CONTENT
// JavaScript Here
