doctype html
include header

// DESCRIPTION CATALOG
.container-fluid
  h1.mt-4 NBA DB
  .card-header
    i.fas.fa-table.mr-1
    | NBA Description
  .card-body
    .container-lg
  .table-responsive
    .table-wrapper
      .table-title
        .row
          .col-sm-8
            h2
              | Player Details
          .col-sm-4
      table.table.table-bordered#description-table.text-nowrap
        thead
          tr
            th(style="width: 50%") Description
            th(style="width: 10%") Website
            th(style="width: 30%")  Badge
            th(style="width: 5%")  Action
        tbody
          form(action="/admin/api/editDescription", method="POST" id="form-edit-description" class="form")
            td 
              textarea(type="text" name="strDescriptionEN" class="form-control" style="height:400px;" required) #{description.strDescriptionEN}
            td 
              input(type="text", name="strWebsite", value=description.strWebsite class="form-control" required)
            td 
              p Image:
              img(src=description.strBadge height="100" width="100" alt="LOGO")
              br
              p Reference: 
              input(type="text", name="strBadge", value=description.strBadge class="form-control" required)
            td
              a.edit(title='Edit', data-toggle='tooltip')
                button.btn.btn-custom(type="submit", name="submitType", value="EDIT" class="btn") 
                  span.btn-label.text-white
                    i.material-icons &#xE254;
                  p.text-white.d-inline-block.mb-0 EDIT
                
    .col-sm-4
      a.btn.btn-custom.mb-9.text-white(href='/admin', role='button', aria-pressed='true' id="backBtn") << Back
//- FOOTER
footer.py-4.bg-light.mt-auto
  .container-fluid
    .d-flex.align-items-center.justify-content-center
      img(src='../images/team-logo.png', alt='nba icon', width='80', height='40')
      .text-muted.px-4 Copyright &copy; BAVAB Website 2020
//STYLE
style.
  body {
  color: #404E67;
  background: #F5F7FA;
  font-family: 'Open Sans', sans-serif;
  }
  .btn{
  border-radius: 5px;
  font-size: 12px;
  padding: 3px;
  display: inline-block;
  }
  #backBtn{
  width: 100px;
  font-size: 15px;
  position: fixed; 
  bottom: 20px; 
  left: 20px;
  }
  .navbar-custom { 
  background: rgb(44, 53, 165);
  }
  .btn-custom { 
  background: rgb(44, 53, 165);
  }
  .table-wrapper {
  background: #fff;
  padding: 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  }
  .table-title {
  padding-bottom: 10px;
  margin: 0 0 10px;
  }
  .table-title h2 {
  margin: 6px 0 0;
  font-size: 22px;
  }
  .table-title .add-new {
  float: right;
  height: 30px;
  font-weight: bold;
  font-size: 12px;
  text-shadow: none;
  min-width: 100px;
  border-radius: 50px;
  line-height: 13px;
  }
  .table-title .add-new i {
  margin-right: 4px;
  }
  table.table {
  table-layout: fixed;
  width: auto;
  }
  table.table tr th, table.table tr td {
  border-color: #e9e9e9;
  }
  table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
  }
  table.table th:last-child {
  width: 100px;
  }
  table.table td a {
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  min-width: 24px;
  }
  table.table td a.add {
  color: #27C46B;
  }
  table.table td a.edit {
  color: #FFC107;
  }
  table.table td a.delete {
  color: #E34724;
  }
  table.table td i {
  font-size: 19px;
  }
  table.table td a.add i {
  font-size: 24px;
  margin-right: -1px;
  position: relative;
  top: 3px;
  }
  table.table .form-control {
  height: 32px;
  line-height: 32px;
  box-shadow: none;
  border-radius: 2px;
  }
  table.table .form-control.error {
  border-color: #f50000;
  }
  table.table td .add {
  display: none;
  }


