// ADMIN-PLAYERS by Frellia Mae Barra
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS
  link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css', integrity='sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2', crossorigin='anonymous')
  title &#x10412;AVAB FINALS
  link(rel='shortcut icon', href='../images/favicon.ico', type='image/x-icon')
  link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
  script(src='https://code.jquery.com/jquery-3.5.1.min.js')
  script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js')
  script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js', integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj', crossorigin='anonymous')


// HEADER NAVIGATION
.page-header
  nav.sb-topnav.navbar.navbar-expand.navbar-custom
    img(src='../images/favicon.ico', alt='nba icon', width='40', height='40')
    a.navbar-brand.text-white(href='/admin') &#x10412;AVAB FINALS
    a.d-none.d-md-inline-block.text-white.ml-3 Logged in as: #{user.username}
    a.d-none.d-md-inline-block.text-white.text-inline.ml-auto.mr-0.mr-md-3.my-2.my-md-0(href='/') View Site
    a.navbar-nav.ml-auto.ml-md-0.text-white(href='/admin/api/logout') Sign Out
// END OF HEADER NAVIGATION
