doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title &#x10412;AVAB Midterms ADMIN PAGE
  link(rel='shortcut icon' href='../images/favicon.ico' type='image/x-icon')
  link(rel='stylesheet' href='../styles/admin/login.css')
  link(rel='stylesheet' href='../styles/admin/admin.css')
  link(rel='stylesheet' href='../styles/home.css')
  link(rel='stylesheet' href='../styles/style.css')
.content
  img(src='../images/website-logo.png' alt='website-logo' width='150' height='150')
  h1 NBA DB by BAVAB
  form#login-form(action='/admin/api/login' method='POST')
    #username-field
      label(for='fname') Username:
      input#fname(type='text' name='username' placeholder='' required='')
    #password-field
      label(for='pwd') Password:
      input#pwd(type='password' name='password' minlength='8' placeholder='' required='')
      br
      br
      button(type='submit' form='login-form') LOGIN

//style
style. 
  h1{
  margin-left: 330px;
  }
