/* ------- PLAYERS -------------- */

/* #players-select {
  margin-top: -40px;
  margin-left: 45px;
} */
#players-list-select {
  font-size: 15px;
}
.player-form {
  /* margin-left: 350px; */
  margin-top: 50px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.player-page-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.player-page-form div {
  padding-left: 10px;
}

.player-search-form {
  text-align: center;
  margin-bottom: 20px;
}

.player-search-form input {
  background-image: url(./images/search-icon.png);
  /* background-position: 8px 8px; */
  background-repeat: no-repeat;
  padding-left: 24px;
  margin: 8px;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid;
}

.player-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1em;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: table;
  border-spacing: 2px;
  border: 1px solid black;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.player-table thead tr {
  background-color: #ac3131;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.player-table tbody td {
  border-bottom: 1px solid #dddddd;
}

.player-table td {
  padding: 10px 50px;
}

.players-header {
  color: white;
  background-color: #ff4d4d;
}
/** PAGE BUTTON **/

/* This part is for loaing the page so that it wont appear on first load until script is done */
.page-button {
  display: none;
}

.page-button a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.page-button a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  position: fixed;
  background-color: #ac3131;
  color: rgb(255, 255, 255);
  bottom: 200px;
  left: 50px;
}
.next {
  position: fixed;
  background-color: #3b4fa7;
  color: white;
  bottom: 200px;
  right: 50px;
}

@media only screen and (max-width: 900px) {
  .player-table td:nth-child(2),
  td:nth-child(3) {
    display: none;
    /* background-color: green; */
  }
}
/* ------- END OF PLAYERS -------------- */
