/* ---------------- SEASONS ------------------ */
#seasons-page {
  margin-bottom: -1600px;
}
#game-season-table {
  height: 70%;
  width: 70%;
  margin-left: 220px;
}
#seasons-header {
  text-align: center;
}

.season-container h2 {
  margin-top: 50px;
  margin-left: 70px;
  font-size: 2em;
}

.pagination-cont {
  display: flex;
  text-align: center;
}

.pagination-cont select {
  margin: 20px;
}

.seasons-header-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
  text-align: center;
}

.search-cont {
  display: flex;
  flex-direction: row;
}

.search-cont * {
  margin: 20px;
}

.card-seasons-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.card-season {
  height: 330px;
  width: 300px;
  font-family: Arial;
  background-color: rgb(218, 160, 73);
  display: flex;
  flex-direction: column;
  border-color: #ac3131;
  border-width: 2px;
  border-style: solid;
  justify-self: center;
  padding: 20px;
  margin: 20px;
  border-radius: 15px 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.card-season h3 {
  text-align: center;
}
.card-season h4 {
  width: 40%;
  color: white;
  font-size: 13px;
  background-color: #ac3131;
  text-align: center;
  border-radius: 50px;
}
.card-season tr:nth-child(odd) {
  color: rgb(252, 252, 252);
  background-color: rgb(44, 53, 165);
}
.card-season tbody > tr > :nth-child(1) {
  background-color: rgb(218, 160, 73);
}
.card-season tr:hover {
  background-color: #ac3131;
}
.card-season td {
  padding: 5px;
}
.card-season th {
  padding: 0px;
}

.card-season a {
  margin-top: 10px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

@media only screen and (max-width: 1000px) {
  .card-seasons-container {
    grid-template-columns: auto auto;
  }

  #pagination-cont select {
    font-size: 14px;
  }

  .search-cont {
    flex-direction: column;
  }
}

@media only screen and (max-width: 700px) {
  .card-seasons-container {
    grid-template-columns: auto;
  }
  .search-cont * {
    margin: 15px;
  }
  .card-season {
    padding: 5px;
    padding-bottom: 20px;
  }
}
/* -------------- END OF SEASONS -------------- */
