/* ------------- HTML TAG CSS -------------------- */
* {
  font-family: OpenSans;
}

@font-face {
  font-family: OpenSans;
  src: url("./fonts/OpenSans-Regular.ttf");
}

table {
  text-align: center;
}

th {
  padding: 5px;
}
td {
  padding: 15px;
}
tr:nth-child(even) {
  background-color: rgb(44, 53, 165);
  color: #f5f5f5;
}
tr:nth-child(odd) {
  color: black;
}
tr:hover {
  color: white;
  background-color: #ac3131;
}
button {
  padding: 0em 2em;
}
body {
  margin: 0px;
  background-color: ghostwhite;
  /* overflow-x: hidden; */
}
h1 {
  font-family: OpenSans-Bold;
}
@font-face {
  font-family: OpenSans-Bold;
  src: url("./fonts/OpenSans-Bold.ttf");
}

select {
  font-size: 20px;
  min-width: 30px;
}

/* ------------- END OF HTML TAG CSS -------------------- */

/* -------------------- FOOTER POSITION --------------------- */

.footer {
  background-color: #9ba7af;
  color: white;
  text-align: center;
  margin-top: 60px;
  padding-top: 2px;
}

.footer div {
  margin-left: 40px;
  text-align: center;
}

.footer div a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.footer img {
  margin-top: -15px;
}

/* -------------------- END OF FOOTER POSITION ------------------------------ */

/* --------------------- HEADER NAVIGATION --------------------------- */

.nav {
  overflow: hidden;
  background-color: rgb(44, 53, 165);
  box-shadow: 0px 8px 15px #7b7b7bb3;
  padding-left: 40px;
}

.nav:hover > a {
  color: grey;
}

.nav a {
  float: left;
  color: white;
  margin-top: 18px;
  margin-bottom: 6px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-decoration: none;
  font-size: 18px;
  justify-content: center;
  font-family: Arial;
  /* margin-top: 5px; */
}

.nav a span {
  font-family: Arial;
}

.nav a:hover {
  color: white;
}

.nav a img {
  margin-top: -8px;
}

/* Dropdown for Seasons */
.dropdown {
  display: inline;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2c35a5;
  /* min-width: 120px; */
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1s); */
  cursor: pointer;
  color: black;
  padding-top: 5px;
}

.dropdown-content a {
  font-size: 15px;
  color: gray;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 15px;
  margin: 0px;
}

.dropdown-content p:hover {
  /* background-color: #979292; */
  color: white;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* Media query */
@media only screen and (max-width: 1000px) {
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
    color: white;
    padding-left: 0px;
  }
  .nav a {
    text-align: center;
  }

  .dropdown-content {
    padding-top: 20px;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: auto auto auto;

    /* flex-direction: column; */
    position: static;
    /* background-color: green; */
    /* justify-content: space-between; */
  }

  .dropdown-content a {
    display: flex;
    padding: 2px;
    color: white;
  }

  .dropdown:hover .dropdown-content {
    display: grid;
  }

  .footer div {
    text-align: center;
    margin-left: 0px;
  }
}

/* --------------------- END OF HEADER NAVIGATION --------------------------- */

/* -------------------- CONTENT --------------------------- */

.content {
  min-height: 1200px; /* prevent footer to go up when loading */
}

/* -------------------- END OF CONTENT --------------------------- */

/* ---------------- START OF LOADER------------------------*/
.loader {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 2px;
  right: 8px;
}
.loader:after {
  content: " ";
  display: block;
  width: 32px;
  height: 32px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loader 1.2s linear infinite;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* ------------------ END OF LOADER -------------------- */
