/*--------------------TEAMS---------------------*/

.search-container {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
  padding: 8px;
}

.search-container label {
  padding: 8px;
}

.search-container input {
  background-image: url("./images/search-icon.png");
  /* background-position: 8px 8px; */
  background-repeat: no-repeat;
  padding-left: 36px;
  margin: 8px;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid;
}

.search-message {
  display: flex;
  justify-content: center;
  font-size: 14px;
}

#team-list img {
  height: 180px;
  width: 180px;
  /* background-color: wheat; */
  padding: 20px;
}

.team-card-list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-top: 40px;
  margin-bottom: 80px;
  margin-left: 30px;
}

.team-card {
  width: 220px;
  height: 280px;
  margin: 20px;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 80px;
}
.team-card:active,
.team-overlay {
  background-color: rgb(44, 53, 165);
  color: white;
}

.team-name {
  text-align: center;
}
.team-shortname {
  text-align: center;
  padding: 5px;
}
.team-description {
  width: 600px;
  height: 300px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 20px;
  font-size: 13px;
  /* position: sticky; */
  -ms-transform: translate(-50%, -50%);
  transform: translate(-10%, -50%);
  text-align: justify;
}
.team-overlay {
  display: none;
  background-color: rgb(44, 53, 165);
  min-width: 360px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  text-align: justify;
}

/* Modal itself, the z-index */
.team-modal {
  z-index: 1;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  /* padding-top: 20px; */
}

/* CONTENT OF THE MODAL (The Window) */
.team-modal-content {
  background-color: whitesmoke;
  margin: auto;
  padding: 40px;
  border: 1px solid #888;
  width: 75%;
  display: flex;
  flex-direction: column;
  text-align: justify;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.2);
  font-size: 14px;
}

.team-modal-content img {
  width: 128px;
  height: 128px;
}

.close-modal {
  color: #000000;
  font-family: Arial;
  font-size: 28px;
  margin-top: -40px;
  margin-left: 1150px;
}

.close-modal:hover,
.close-modal:focus {
  color: rgb(151, 150, 150);
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 1400px) {
  .team-card-list {
    grid-template-columns: auto auto;
    margin-left: 60px;
  }

  .team-modal {
    position: relative;
    padding-top: 40px;
  }

  .team-modal-content {
    padding: 20px;
  }

  .close-modal {
    display: none;
    margin: 0px;
  }
}

@media only screen and (max-width: 700px) {
  .team-card-list {
    grid-template-columns: auto;
  }
  .search-container input {
    /* background-image: none; */
    background-position: 8px 8px;
    margin: 0px;
  }
}
/* ------------- END OF TEAMS --------- */
